.node-start{
    background-color: green;
}

.node-finish {
    background-color: red;
};

.node-content {
    display: flex;
}

.node-unvisited {
    outline: 1px solid rgba(52, 63, 86, 0.5);
    user-select: none;
    background-color: white; 
}

.node-wall{
    background-color: #343f56;
    outline: 1px solid rgba(95, 110, 143, 0.5);
    user-select: none;
}

